body,
html {
  width: 100%; /* This covers 100% of whatever we see! */
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: img no-repeat center center fixed;
  background-size: cover;
}
h1 {
  font-size: 3em;
  color: #E2BDBD;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
    border-color: #F05F44;
    border-width: 3px;
    border-radius: 10px;
}
.btn-xl {
  padding: 1rem 2rem;
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn:hover {
  background-color: #EE4B08;
  border-color: #EE4B08;
  border-width: 4px;
}
.btn-primary {
  background-color: #F05F44;  
  border-color: #F05F44;  
  --bs-btn-hover-bg: #ee4b08; 
  --bs-btn-hover-border-color: #ee4b08;
}
.buffer {
  height: 10rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
